
.App {
  text-align: center;
}

.popup-hidden {
  visibility: hidden;
}

.popup-visible {
  visibility: visible;
}

body {
  font-size: 1.6em;
  font-family: Verdana, sans-serif;
  text-align: center;
}

.login,.logout {
  text-align: left;
  max-width: 320px;
  padding: 60px ;
  margin: auto;
}

span {
  padding: 5px 40px;
  margin: 5px 10px;
  border-radius: 10px;
}

.user {
  text-align: right;
}

.user span {
  background-color: rgb(219, 228, 243);
}

.system {
  text-align: left;
}

.system span {
  background-color: rgb(218, 238, 215);
}

/* frame */
.frame-outer {
  position: relative;
  width: 70%;
  margin: 0 auto;
  border: 10px solid #D7CDC7;
  padding: 10px;
}
.frame-inner {
  text-align: center;
  position: relative;
  border: 10px solid #D7CDC7;
 }
.frame-outer:before, 
.frame-outer:after, 
.frame-inner:before, 
.frame-inner:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #F9F9F9;
  background-image: linear-gradient(90deg, #2aa4a8 33%, rgba(255,255,255,0) 33%, rgba(255,255,255,0) 66%, #2aa4a8 66%, #2aa4a8),
  linear-gradient(90deg, #2aa4a8 33%, rgba(255,255,255,0) 33%, rgba(255,255,255,0) 66%, #2aa4a8 66%, #2aa4a8);
  background-repeat: no-repeat;
  background-size: 30px 10px;
  background-position: 0 0, 0 20px;
}
.frame-outer:before {
  left: -10px;
  top: -10px;
  z-index: 3;
}
.frame-outer:after {
  right: -10px;
  top: -10px;
  z-index: 3;
  background-position: 10px 0, 10px 20px;
}
.frame-inner:before {
  left: -30px;
  bottom: -30px;
  background-position: 0 10px, 0px 30px;
}
.frame-inner:after {
  right: -30px;
  bottom: -30px;
  background-position: 10px 10px, 10px 30px;
}
.frame-inner p {
font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 18px; 
  color: #7A7B82; 
  line-height: 1.5;
}
